---
import DefaultPageTitle from "@astrojs/starlight/components/PageTitle.astro";
const entry = Astro.locals.starlightRoute.entry;
const isSplash = entry?.data.template === "splash";
---

{!isSplash ? <DefaultPageTitle /> : <h1 data-page-title>{entry.data.title}</h1>}
